<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Forgot Password</title>
</head>
<body class="bg-slate-200">
  <div class="flex justify-center items-center">
   <div class="bg-white p-6 rounded-lg shadow-lg max-w-lg w-full mt-10">
     <h1 class="text-2xl font-bold mb-4 text-center">Forgot Password</h1>
    <form method="post" action="/forgotpassword">
         <label for="email" class="text-lg ">Email:</label>
         <input type="email" id="email" name="email"class="ml-5 bg-slate-200 rounded w-72 py-1 font-julius indent-3 text-black " required>
         <button type="submit" class="bg-blue-300 text-white text-lg px-4 py-2 rounded ml-32 mt-5 font-poppins" id="btn">Submit</button>
         <p id="text"></p>
    </form>
     </div>
</div>
<script>
  const btn = document.getElementById('btn');
  btn.addEventListener('click', function() {
    const email = document.getElementById('email').value;
    if (email == '') {
      document.getElementById('text').innerHTML = 'Please enter your email';
      } else {
        document.getElementById('text').innerHTML = 'Please check your email';
        }
        });
</script>
</body>
</html>




